Repository Headorteil/yanimt: changes, and which pre-commit hooks are due for each by the changed paths.
All: create-stub, gen-docs

create-stub:
  name: Create stub for impacket
  entry: hooks/create-stub.sh
  pass_filenames: false
  language: script
  verbose: true

gen-docs:
  name: Custom documentation for the cli
  entry: hooks/gen-docs.sh
  pass_filenames: false
  language: script
  verbose: true

Fix TUI logs width
  yanimt/_tui/__init__.py
  yanimt/_tui/logger.py
Due: none

Refresh TUI on gathering
  yanimt/_tui/__init__.py
  yanimt/_tui/computers.py
  yanimt/_tui/progress.py
  yanimt/_tui/users.py
  yanimt/static/tcss/object_screen.tcss
Due: none

File logging
  yanimt/_config.py
  yanimt/_tui/__init__.py
  yanimt/_util/consts.py
  yanimt/_util/logger.py
  yanimt/cli/__init__.py
Due: gen-docs

Modules progress in TUI
  docs/cli.md
  yanimt/_ldap/query.py
  yanimt/_smb/secrets_dump.py
  yanimt/_tui/__init__.py
  yanimt/_tui/progress.py
  yanimt/_util/types.py
  yanimt/cli/__init__.py
  yanimt/cli/gather.py
  yanimt/gatherer.py
  yanimt/static/tcss/object_screen.tcss
Due: gen-docs

Prevent infinite progress bars
  yanimt/_ldap/query.py
  yanimt/_smb/secrets_dump.py
Due: none

Publish on pypi
  README.md
  poetry.lock
  pyproject.toml
Due: create-stub

Gather bit by bit
  docs/cli.md
  poetry.lock
  pyproject.toml
  yanimt/_database/manager.py
  yanimt/_ldap/query.py
  yanimt/_smb/main.py
  yanimt/_smb/secrets_dump.py
  yanimt/_tui/__init__.py
  yanimt/_util/__init__.py
  yanimt/_util/types.py
  yanimt/cli/__init__.py
  yanimt/cli/gather.py
  yanimt/gatherer.py
  yanimt/static/tcss/object_screen.tcss
Due: create-stub, gen-docs

Gather computers
  poetry.lock
  yanimt/_database/models.py
  yanimt/_ldap/query.py
  yanimt/_smb/main.py
  yanimt/cli/__init__.py
  yanimt/gatherer.py
Due: create-stub, gen-docs

Gather groups
  docs/cli.md
  poetry.lock
  yanimt/_database/manager.py
  yanimt/_database/models.py
  yanimt/_ldap/query.py
  yanimt/_util/types.py
  yanimt/cli/gather.py
  yanimt/gatherer.py
Due: create-stub, gen-docs

Groups in TUI
  pyproject.toml
  yanimt/_database/manager.py
  yanimt/_tui/__init__.py
  yanimt/_tui/groups.py
  yanimt/gatherer.py
Due: none

OUs handling
  docs/cli.md
  poetry.lock
  pyproject.toml
  yanimt/_database/manager.py
  yanimt/_database/models.py
  yanimt/_ldap/query.py
  yanimt/_smb/secrets_dump.py
  yanimt/_tui/__init__.py
  yanimt/_tui/computers.py
  yanimt/_tui/ous.py
  yanimt/_tui/users.py
  yanimt/_util/consts.py
  yanimt/cli/gather.py
  yanimt/gatherer.py
Due: create-stub, gen-docs

chore(dependencies): bump
  .pre-commit-config.yaml
  hooks/create-stub.sh
  poetry.lock
  pyproject.toml
Due: create-stub

Path conditions:
  create-stub: any of: ^poetry.lock$, but not: ^typings/
  gen-docs: any of: ^yanimt/cli/ and \.py$ and not (^typings/)
